<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>

    <!-- #region external_libraries -->

    <link rel="stylesheet" href="css/site.css" />


    <!--Optional JavaScript-->
    <!--jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>



    <!-- Bootstrap Bundle with Popper -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js,
        then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>


    <!-- #endregion external_libraries -->




    <div class="main-container vstack">

        <!-- #region top -->
        <div class="block-top bg-light d-flex justify-content-start">

            <button type="button" class="tablinks btn btn-light "
                onclick="Configurator.set_tab(event, 'Scenes_tab')">Home</button>

            <button type="button" class="tablinks btn btn-light"
                onclick="Configurator.set_tab(event, 'Configurator_tab')">My Designs</button>

            <button type="button" class="tablinks btn btn-light"
                onclick="Configurator.set_tab(event, 'Information_tab')">Contat us</button>

        </div>
        <!-- #endregion top -->
        <!-- #region middle -->

        <div>

            <!-- #region Scenes_tab-->

            <div id="Scenes_tab" class="tabcontent" style="z-index:2;">

                <div class="d-flex flex-wrap justify-content-around align-items-center" style="height:100%;">

                    <img class="img-thumbnail" style="width: 300px; "
                        src="images/scene/NO_Market_2400/Web/0087_Hanoi/0087_Hanoi_M00_Bathroom_web.jpg"
                        onclick="Configurator.set_scene('NO_Market_2400')">

                    <img class="img-thumbnail" style="width: 300px; "
                        src="images/scene/Fibo_main/Web/1533_GrisGrande/1533_GrisGrande_M6030_Bathroom_3_2.jpg"
                        onclick="Configurator.set_scene('Fibo_main')">

                    <img class="img-thumbnail" style="width: 300px; "
                        src="images/scene/UK_Market/Web/0196_OceanBlue/0196_OceanBlue_M74_Bathroom_1_2.jpg"
                        onclick="Configurator.set_scene('UK_Market')">

                </div>
            </div>

            <!-- #endregion Scenes_tab-->
            <!-- #region Configurator_tab -->
            <div id="Configurator_tab" class="tabcontent configurator_tab">

                <!-- #region left_side -->
                <div class="left-side">

                    <!-- left side container -->
                    <div class="left-side-container">

                        <!-- cart box -->
                        <!--@*            <div class="row">
        <div class="col-md-4" style="height:60px; display: flex; align-items: center; justify-content: center;">
            <span class="font-weight-bold " style="width: 100%; text-align: left"><h3 id="price_title"></h3> </span>
        </div>
        <div class="col-md-8">
            <button class="btn btn-success shadow-sm p-3 mb-2 bg-white rounded"
                    onclick="add_cart_click()"
                    style="color: black; width: 100%;">
                print
            </button>
        </div>
    </div>*@
                    @*<form action="/Home/CategoryChosen" method="get">
                        *@

                        @*
                        sources of Add Image into Dropdown List for each items
                        https://www.geeksforgeeks.org/how-to-add-image-into-dropdown-list-for-each-items/


                        *@
                        -->




                        <div class="btn-group btn-group-sm btn-block btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-light  active">
                                <input type="radio" onclick="Configurator.set_active('A')" name="options" id="option_A"
                                    autocomplete="off"> A
                            </label>
                            <label class="btn btn-light">
                                <input type="radio" onclick="Configurator.set_active('B')" name="options" id="option_B"
                                    autocomplete="off" checked> B
                            </label>
                            <label class="btn btn-light">
                                <input type="radio" onclick="Configurator.set_active('C')" name="options" id="option_C"
                                    autocomplete="off"> C
                            </label>
                        </div>

                        <hr />

                        <p class="pt1">Decor name</p>


                        <div class="dropdown">
                            <button
                                class="btn btn-success shadow-sm p-1 mb-2 bg-white rounded  dropdown-toggle focus-active"
                                type="button" id="decor_name_MenuButton" data-bs-auto-close="false"
                                data-bs-display="static" aria-haspopup="true" aria-expanded="false"
                                style="width: 100%;   text-align: left; color: black; border-color: white; overflow: hidden;">
                                <div class="col m-0 justify-content-md-start">
                                    <div class="col col-md-auto p-0">
                                        <img src="/images/scene/NO_Market_2400/Preview/0087_Hanoi.jpg" width="150"
                                            height="150" class="btn_image rounded" style="object-fit: contain">
                                    </div>
                                    <div class="col col-md-auto text-left text-truncate"
                                        style="display:flex; align-items: center;">
                                        <h7 class="btn_text text-align: left;" id="item_btn">
                                            Hanoi
                                        </h7>
                                    </div>
                                </div>
                            </button>

                            <button type="button" id="btn_close" class="btn btn-sm btn-success btn_close">Close</button>

                            <ul class="dropdown-menu shadow-sm text-truncate mb-2 bg-white p-1 rounded"
                                id="decor_name_list" data-bs-display="static" data-bs-auto-close="false" style="overflow-x: scroll;
                                            width: calc(100vw - 2em);
                                            position: fixed;
                                            top: calc(100vh - 250px);
                                            left: 1em;
                                            cursor: grab;
                                            -webkit-overflow-scrolling: touch;" aria-labelledby="dropdownMenuButton">


                                <!-- here must be items -->
                            </ul>
                        </div> <!-- Decor name -->






                        <p class="pt1">Tile pattern</p>

                        <div class="dropdown">
                            <button class="btn btn-success shadow-sm p-1 mb-2 bg-white rounded  dropdown-toggle"
                                type="button" id="tile_pattern_MenuButton" data-toggle="dropdown" data-display="static"
                                aria-haspopup="true" aria-expanded="false"
                                style="width: 100%;   text-align: left; color: black; border-color: white; overflow: hidden;">
                                <div class="col m-0 p-0 justify-content-md-start">
                                    <div class="col col-md-auto p-0">
                                        <img src="/images/types/M00.jpg" width="150" height="150"
                                            class="btn_image rounded" style="object-fit: contain">
                                    </div>
                                    <div class="col col-md-auto text-left text-truncate"
                                        style="display:flex; align-items: center;">
                                        <h7 class="btn_text text-align: left;" id="item_btn">
                                            M00
                                        </h7>
                                    </div>
                                </div>
                            </button>


                            <ul class="dropdown-menu shadow-sm text-truncate mb-2 p-1 bg-white rounded"
                                id="tile_pattern_list" data-display="static" style="overflow-x: scroll;
                width: calc(100vw - 2em);
                position: fixed;
                top: calc(100vh - 250px);
                left: 1em;" aria-labelledby="dropdownMenuButton">
                                <!-- here must be items -->

                            </ul>
                        </div> <!-- Tile pattern -->



                        <div class="text-center" style="overflow: hidden; max-height: 350px;">
                            <h3>
                                Description:
                            </h3>
                        </div>

                        <div class="container-lg shadow-sm p-1 mb-2 bg-white rounded ">
                            <img src="images/scene/NO_Market_2400/NO_Market_2400_scene.jpg" class="shadow-lg"
                                width="150" height="150" alt="">
                        </div>
                        <!-- description block -->
                        <!--<div class="container-lg shadow-sm p-1 mb-2 bg-white rounded ">
                                <h6 id="description_A" style="text-align: left">
                                    A: Hanoi M00 (2400x600mm)
                                </h6>
                                <h6 id="description_B" style="text-align: left">
                                    B: Hanoi M00 (2400x600mm)
                                </h6>
                                <h6 id="description_C" style="text-align: left">
                                    C: Hanoi M00 (2400x600mm)
                                </h6>
                            </div>-->
                        <!-- download, print and share buttons -->
                        <div class="container-lg shadow-sm p-1 mb-2 bg-white rounded ">

                            <button onclick="Configurator.btn_download_click()" type="button"
                                class="btn btn-light active">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-download" viewBox="0 0 16 16">
                                    <path
                                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z">
                                    </path>
                                    <path
                                        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z">
                                    </path>
                                </svg> Download
                            </button>
                            <button onclick="Configurator.btn_print_click()" type="button"
                                class="btn btn-light active"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                                    <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"></path>
                                    <path
                                        d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z">
                                    </path>
                                </svg> Print</button>
                            <button onclick="Configurator.btn_share_click()" type="button"
                                class="btn btn-light active"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                                    <path
                                        d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z">
                                    </path>
                                </svg> Share</button>

                        </div>



                    </div> <!-- end left side container -->

                </div>
                <!-- #endregion left_side -->
                <!--  #region right_side -->
                <div class="right-side">
                    <div class="right-side-container">


                        <map id="iMap" name="iMap">
                            <area id="map_1" shape="poly" alt="A" title="" coords="1,1,123,2,123,1054,-2,1041" href=""
                                target="" />
                            <area id="map_2" shape="poly" alt="B" title=""
                                coords="1198,952,1198,908,1210,894,1212,870,1330,854,1326,134,130,130,132,952" href=""
                                target="" />
                            <area id="map_3" shape="poly" alt="C" title=""
                                coords="1486,903,1451,888,1333,888,1336,221,1452,221,1487,201" href="" target="" />
                            <area id="map_4" shape="poly" alt="C" title="" coords="1575,942,1597,951,1597,138,1577,150"
                                href="" target="" />
                            <!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->
                        </map>

                        <div class="container m-0 p-0">

                            <img class="image-container float-start" id="pic_B" usemap='#iMap'
                                src="images/scene/NO_Market_2400/Web/0087_Hanoi/0087_Hanoi_M00_Bathroom_web.jpg">



                            <div class="overlay visible" id="overlay-mask_A">
                                <div class="mask_A">
                                    <img class="image-container" id="pic_A"
                                        src="images/scene/NO_Market_2400/Web/2024_Black/2024_Black_M00_Bathroom_web.jpg">
                                </div>
                            </div>

                            <div class="overlay visible" id="overlay-mask_C">
                                <div class="mask_C">
                                    <img class="image-container" id="pic_C"
                                        src="images/scene/NO_Market_2400/Web/2101_Red/2101_Red_F00_Bathroom_web.jpg">
                                </div>
                            </div>

                            <div class="overlay " id="overlay-A">
                                <img class="image-container" src="images/scene/NO_Market_2400/NO_Market_2400_A.png">
                            </div>

                            <div class="overlay" id="overlay-B">
                                <img class="image-container" src="images/scene/NO_Market_2400/NO_Market_2400_B.png">
                            </div>

                            <div class="overlay" id="overlay-C">
                                <img class="image-container" src="images/scene/NO_Market_2400/NO_Market_2400_C.png">
                            </div>

                        </div>


                    </div>

                </div>
                <!-- #endregion right_side -->

            </div>
            <!-- #endregion  Configurator_tab -->
            <!-- #region Information_tab -->

            <div id="Information_tab" class="tabcontent vstack">
                <div class="info_item">1</div>
                <div class="info_item">2</div>
                <div class="info_item">3</div>
            </div>

            <!-- #endregion Information_tab -->



        </div>
        <!-- #endregion middle -->
        <!-- #region bottom -->

        <div class="block-bottom bg-light">

            <button type="button" class="tablinks btn btn-light active "
                onclick="Configurator.set_tab(event, 'Scenes_tab')">Scenes</button>

            <button type="button" class="tablinks btn btn-light"
                onclick="Configurator.set_tab(event, 'Configurator_tab')">Configurator</button>

            <button type="button" class="tablinks btn btn-light"
                onclick="Configurator.set_tab(event, 'Information_tab')">Information</button>

        </div>

        <!-- #endregion bottom -->



    </div>





    <!-- #region modal_overlay -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>

    <div id="overlay_m"
        class="hidden absolute inset-0 bg-black bg-opacity-30 h-screen w-full flex justify-center items-start md:items-center pt-10 md:pt-0 z-10">
        <div id="modal"
            class="opacity-0 transform -translate-y-full scale-150 relative  md:w-fit h-fit md:h-fit bg-white rounded shadow-lg transition-opacity transition-transform duration-300">
            <button onclick="Configurator.Overlay_popup.hide()"
                class="absolute -top-3 -right-3 bg-red-500 hover:bg-red-600 text-2xl w-8 h-8 rounded-full focus:outline-none text-white">
                <i class='bx bx-x'></i>
            </button>

            <div class="px-4 py-3 border-b border-gray-200">
                <h2 id="overlay_title" class="text-xl font-semibold text-gray-600">Title</h2>
            </div>
            <div class="w-full p-3 content-center">
                <img id="overlay_img" src="" class="self-center" style="max-height: 80vh; align-self:center; " />
                <ul class="loading_dots">
                    <li> </li>
                    <li> </li>
                    <li> </li>
                    <li> </li>
                </ul>

            </div>
            <div id="overlay_btns"
                class=" bottom-8 left-0 px-4 py-3 border-t border-gray-200 w-full flex justify-between items-center gap-3">
                <button onclick="Configurator.Overlay_popup.img_download()"
                    class="bg-green-500 hover:bg-green-600 px-4 py-2 rounded text-white focus:outline-none">Save</button>

                <!-- https://ellisonleao.github.io/sharer.js/?utm_source=cdnjs&utm_medium=cdnjs_link&utm_campaign=cdnjs_library -->
                <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>

                <div class="">

                    <div class="share">

                        <button id="share-fb" class="sharer button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-facebook" viewBox="0 0 16 16">
                                <path
                                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                            </svg>
                        </button>

                        <button id="share-tw" class="sharer button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-twitter" viewBox="0 0 16 16">
                                <path
                                    d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                            </svg>
                        </button>

                        <button id="share-li" class="sharer button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                            </svg>
                        </button>

                        <button id="share-pn" class="sharer button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pinterest" viewBox="0 0 16 16">
                                <path
                                    d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943.682 0 1.012.512 1.012 1.127 0 .686-.437 1.712-.663 2.663-.188.796.4 1.446 1.185 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.254-3.342-3.254-2.276 0-3.612 1.707-3.612 3.471 0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.834-4.84 5.286-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.739 4.976-4.151 4.976-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0z" />
                            </svg>
                        </button>

                        <button id="share-em" class="sharer button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                            </svg>
                        </button>

                    </div>

                </div>


                <button onclick="Configurator.Overlay_popup.hide()"
                    class="bg-red-500 hover:bg-red-600 px-4 py-2 rounded text-white focus:outline-none">Close</button>
            </div>
        </div>
    </div>
    <!-- #endregion modal_overlay -->


    <!-- Run functional side -->
    <script src="js/configurator.js"></script>
    <script>
        var Configurator = new Configurator_class();
    </script>


</body>

</html>