/* Main part styles */
.main_frame {
    height: 100%;
    top: 50px;
    width: 100%;
    z-index: 1;
}




/* #region Clear floats after the columns */
.main-container {
    align-items: center;
    text-align: center;
    background-color: dimgrey;
    /* min-width: 1600px; -- not flexible version --*/
}

/*@media screen and (max-width: 1500px) {
    .main-container {
        display: inline-flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .left-side {
        display: none;
    }

    .right-side {
        display: none;
    }
}*/

/* #endregion */

/* #region tabs realization */
.tabcontent {
    position: absolute;
    background-color: dimgrey;
    top: 40px;
    height: calc(100vh - 80px);
    width: 100vw;
    z-index: 1;
}

.block-top {
    height: 40px;
    z-index: 2;
}

.block-bottom {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0;
    z-index: 2;
}


/* #endregion */
/* #region configurator_tab layout*/
/* Create two columns/boxes that floats next to each other */
.configurator_tab {
    flex-wrap: nowrap;
    display: flex;
}

.left-side {
    background: #f1f1f1;
    padding: 30px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    height: calc(100vh - 100px);
}

.left-side-container {
    float: left;
}

.right-side {
    display: inline-block;
    vertical-align: top;
}

.right-side-container {
    float: left;
}

.image-container {
    display: block;
    max-height: calc(100vh - 100px);
    width: auto;
    object-fit: scale-down;
}

.mask_A {
    -webkit-mask-image: url('../images/scene/NO_Market_2400/NO_Market_2400_mask_A.png');
    mask-image: url('../images/scene/NO_Market_2400/NO_Market_2400_mask_A.png');
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.mask_C {
    -webkit-mask-image: url('../images/scene/NO_Market_2400/NO_Market_2400_mask_C.png');
    mask-image: url('../images/scene/NO_Market_2400/NO_Market_2400_mask_C.png');
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

/* #endregion */

/* #region bootstrap dropdown */

/* align to right*/
.dropdown-toggle::after {
    float: right;
    margin-top: -75px;
}

.navbar-nav {
    position: relative;
}

li.dropdown {
    position: static;
}


.dropdown-menu>li {
    display: inline-block;
}

.pt1 {
    margin-bottom: 0;
}

.container {
    position: relative;
}

.overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: all .1s ease-out;
    opacity: 0;
    background-color: transparent;
}

.btn_close {
    opacity: 0;
    position: fixed;
    top: calc(100vh - 280px);
    left: 50vw;
    z-index: 100;
}

.btn.active {
    z-index: 0;
    overflow: hidden;
}

/* #endregion */

/* #regoin information_tab */

.info_item {
    height: calc(100% / 3);
    width: 100%;
    border-width: 2px;
    background-color: azure;
    border-color: aquamarine;
}

/* #endregion*/




.visible {
    opacity: 1;
    transition: all .1s ease-out;
}

.hide {
    opacity: 0;
}


/* #region loading animation */
.loading_dots {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.loading_dots li {
    list-style: none;
    width: 20px;
    height: 20px;
    background: #10b981;
    margin: 0 5px;
    border-radius: 50%;
    animation: animate 1.4s linear infinite;
}

@keyframes animate {


    0% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.loading_dots li:nth-child(1) {
    animation-delay: -1.2s;
}

.loading_dots li:nth-child(2) {
    animation-delay: -1.0s;
}

.loading_dots li:nth-child(3) {
    animation-delay: -.8s;
}

.loading_dots li:nth-child(4) {
    animation-delay: -0.6s;
}

/* #endregion */


/* #region share bar buttons */
/* (on overlay window) */
.share button {
    padding: 0.5rem;
    margin: 1rem 2rem 1rem 0;
    background: none;
    border: none;
}

.share button svg {
    height: 30px;
    width: 30px;
}

.share button:hover {
    color: red;
}

/* #endregion */