/* Fonts Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Variables  */
:root {
    --main-blue: #101F3C;
    --main-white: #F5F5F5;
    --main-light-blue: #BCD3E0;
    --main-gray: #808080;
    --main-black: #2C2C2C;
    --search-bg: #E9F2F8;
    --orange: #F1AB86;
    --signin-blue: #2C4862;
    --signin-black: #202020;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: var(--main-white) !important;
    background: var(--main-light-blue) !important;
}


/** Main Styles */
/* Blackout */
.blackout {
    display: none;

    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.300);
    top: 0;
    left: 0;
    z-index: 2;
}

.blackout.active {
    display: block;
}

/* Navbar */
.mynav {
    background: var(--main-blue);
    padding: 22px 0px 22px 0px !important;
}

.mynav__input {
    width: 540px;
    height: 40px;
    margin-right: 10px;
    padding: 11px 20px 11px 52px;
    border-radius: 12px;
    border: none;
    background: var(--search-bg);

    position: relative;
}

.mynav__input::before {
    content: "asdasdasd";

    width: 18px;
    height: 18px;

    display: block;

    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/icons/search.svg');
    background-repeat: no-repeat;
}

.mynav__list {
    column-gap: 20px;
}

.mynav__brand {
    color: var(--main-white) !important;
}

.mynav__link {
    color: var(--main-white) !important;
    font-size: 14px;
    font-weight: 700;
}

.mynav__btn {
    padding: 10px 20px;
}

.mynav__btn-login {
    border: 1px solid var(--main-white);
    border-radius: 12px;
    background: transparent;
    color: var(--main-white);
}

.mynav__btn-signup {
    border: none;
    border-radius: 12px;
    background: var(--main-white);
    color: var(--main-blue);
}

/* Second Nav */
.second-nav {
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
}

.second-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-nav__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 0px;
}

.second-nav__logo {
    color: var(--main-blue);
}

.second-nav__link {
    color: var(--main-blue) !important;
}

/* Footer */
.footer {
    background: var(--main-blue);
    padding: 20px 0px;
}

.footer__link {
    color: var(--main-white);
}

.footer__link:hover {
    color: var(--main-light-blue);
}

/** Main Styles */


/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}