::-webkit-scrollbar {
    display: none;
}

.custom-container {
    max-width: 1320px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.scene {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.scene__bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

@media(max-width: 1024px) {
    .custom-container {
        height: 700px;
    }

    .scene {
        height: 700px;
    }

    .scene__bg {
        height: 700px;
    }
}

@media(max-width: 850px) {
    .custom-container {
        height: 500px;
    }

    .scene {
        height: 500px;
    }

    .scene__bg {
        height: 500px;
    }
}

.container {
    position: relative !important;
}

/** Options */
.options {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(245, 245, 245, 0.80);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 20px;

    position: absolute;
    top: 20%;
    left: 0;
    row-gap: 20px;
    z-index: 10;
    transition: all .3s ease;
}

@media(max-width: 1280px) {
    .options {
        top: 10%;
        transform: translate(0%, 10%);
    }
}

.options__btn:hover,
.options__btn:focus {
    background: #BCC3C9;
    transition: all .3s ease;
}

.options__btn {
    width: 40px;
    height: 40px;
    border-radius: 7px;
}

/* Tips */
.options__tip {
    position: absolute;
    top: 5%;
    left: 170%;
    z-index: 1;

    background: var(--main-black);
    border-radius: 12px 12px 12px 0px;
    padding: 6px 12px;
    box-shadow: 0px 4px 4px 0px rgba(63, 63, 63, 0.25);

    display: none;
    align-items: center;
    justify-content: center;
}

.options__tip span {
    font-size: 12px;
    font-weight: 500;
}

.options__tip.active {
    display: flex;
}

.tip-save.active {
    display: flex;
}

.tip-3d.active {
    display: flex;
    width: 100px;
}

/* Options */


/** Order */
.order__menu {
    position: absolute;
    bottom: 20px;
    left: 0;

    border-radius: 500px;
    background: var(--main-white);
    padding: 6px 10px 6px 22px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    z-index: 22;
}

.order__list {
    position: absolute;
    bottom: -500px;
    left: 0;
    z-index: 22;
    transition: all .3s ease;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    width: 234px;
    border-radius: 12px;
    padding: 12px 30px 12px 24px;
    background: var(--main-white);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
}

.order__list.open {
    bottom: 85px;
}

@media(max-width: 1280px) {
    .order__menu {
        left: 100px;
    }

    .order__list {
        left: 100px;
    }
}

.order__list-empty {
    color: var(--main-black);
}

@media(max-width: 540px) {
    .order__menu {
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .order__list {
        left: 50%;
        width: 208px;
        transform: translate(-50%, 0%);
    }
}

.order__count {
    font-weight: 600;
    color: var(--signin-blue);
}

.order__btn {
    font-weight: 600;
    border-radius: 53px;
    background: var(--main-orange);
    padding: 10px 24px;
    color: var(--signin-blue);
}

.move-up.down {
    transform: rotate(180deg);
    transition: all .3s ease;
}

.order__item_title {
    color: var(--main-black);
    font-weight: 600;
    margin-bottom: 5px;
}

.order__item_price {
    color: var(--main-black);
}

@media(max-width: 850px) {
    .order__list {
        width: 216px;
    }

    .order__item_title {
        font-size: 14px;
    }

    .order__item_price {
        font-size: 14px;
    }

    .order__count {
        font-size: 14px;
    }

    .order__btn {
        font-size: 14px;
    }

    .order__list-empty {
        font-size: 14px;
    }

    .options {
        padding: 10px 15px;
        row-gap: 15px;
    }
}

.move-down {
    display: none;
}

/* Order */


/** Custom */
.custom {
    position: fixed;
    top: 50%;
    right: -385px;
    transform: translate(-8%, -50%);
    z-index: 30;
    transition: all .3s ease;
}

.custom.open {
    right: -30px;
}

.custom__items {
    display: flex;
    flex-direction: column;
    transition: all .3s ease;

    width: 354px;
    padding: 22px;
    border-bottom-left-radius: 12px;
    background: rgba(245, 245, 245, 0.80);
    row-gap: 16px;
}

.custom__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    width: 310px;
    border-radius: 12px;
    padding-right: 30px;
    background: var(--main-white);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
}

.custom__item_title {
    color: var(--main-black);
}

.custom__img {
    width: 80px;
    height: 60px;
    border-radius: 12px;
}

.custom__item_img {
    width: 80px;
    height: 80px;
}

.custom-drop-list {
    display: none;
}

.custom-drop-list.open {
    display: block;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.1);
    height: 180px;
    border-radius: 12px;
}

.custom-item-remove {
    display: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #F18686;
}

.custom-item-remove.active {
    display: block;
}

.drop-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
}

.custom-item-btn {
    transition: all .3s ease;
}

.custom-item-btn.open {
    transition: all .3s ease;
    transform: rotate(90deg);
}

.foreground-img {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
}

.bar-stool-img {
    display: none;
}

.lamp-img {
    display: none;
}

.fartuk-img {
    display: none;
}

.portuquet-img {
    display: none;
}

.object-visible {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.custom.open {
    right: 10px !important;
}

@media(max-width: 540px) {
    .custom-item-remove {
        font-size: 14px;
    }

    .drop-list-container {
        column-gap: 10px;
        row-gap: 10px;
        padding: 10px;
    }

    .custom__items {
        width: 270px;
        padding: 15px;
    }

    .custom__item {
        width: 240px;
    }

    .custom__item_img {
        width: 60px;
        height: 60px;
    }

    .custom__item_title {
        font-size: 14px;
    }

    .custom__img {
        width: 60px;
        height: 50px;
    }

    .custom-item-btn img {
        width: 15px;
        height: 15px;
    }
    
    .custom-drop-list.open {
        height: 150px;
    }
}

/* Custom */



/** Share Modal */
.share-modal {
    width: 622px;
    height: 368px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    padding: 24px;
    border-radius: 24px;
    background: var(--main-white);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
}

.share-modal__items {
    column-gap: 25px;

    margin-top: -40px;
    width: 370px;
    padding: 20px 16px 20px 20px;
    border-radius: 12px;
    background: #F0F0F0;
}

.share-modal__items_title {
    font-weight: 600;
    color: var(--signin-blue);
}

.share-modal__item_title {
    color: var(--main-black);
    font-size: 12px;
}

.close-share-modal {
    font-weight: 600;
    color: var(--signin-blue);
}

.share-blackout {
    display: none;

    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.300);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.share-blackout.active {
    display: block;
}

/* Share Modal */


/** Saved Modal */
.saved-modal-empty {
    width: 400px;
    height: 300px;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    padding: 24px;
    border-radius: 24px;
    background: var(--main-white);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
}

.saved-modal-empty.active {
    display: flex;
}

.saved-modal {
    width: 500px;

    display: none;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    padding: 24px;
    border-radius: 24px;
    background: var(--main-white);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
}

.saved-modal-container {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 540px) {
    .saved-modal {
        width: 400px;
    }
}

.saved-modal.active {
    display: flex;
}

.saved-modal__items {
    row-gap: 20px;
}

.saved-modal__item {
    max-width: 539px;
}

.saved-modal__items_title {
    font-weight: 600;
    color: var(--main-black);
}

.saved-modal__item-price {
    font-weight: 400;
    color: var(--main-gray);
}

.saved-modal__item_title {
    color: #202020;
    font-weight: 500;
}

.saved-modal__item_desc {
    color: var(--main-gray);
}

.check-out-saved-modal {
    padding: 10px 15px;
    border-radius: 12px;
    background: var(--signin-blue);
}

.close-saved-modal {
    font-weight: 600;
    color: var(--signin-blue);
}

.saved-blackout {
    display: none;

    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.300);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.saved-blackout.active {
    display: block;
}

.saved-modal-empty {
    color: var(--main-black);
}

/* Saved Modal */


/** Download Modal */
.download-modal {
    display: none;
    flex-direction: column;
    row-gap: 15px;

    position: absolute;
    top: 43%;
    left: 112%;
    z-index: 9999;

    background: #F0F0F0;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    border-radius: 13px;

    width: 132px;
    height: 74px;
    padding: 10px 20px;
}

.download-modal.active {
    display: flex;
}

.download-modal__btn {
    font-size: 12px;
    font-weight: 500;
    color: var(--main-black);
}

.download-blackout {
    display: none;

    width: 100vw;
    height: 100vh;
    background: transparent;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.download-blackout.active {
    display: block;
}

/* Download Modal */


/** Masks */
.mask {
    pointer-events: none;
    width: 100%;
    height: 100%;
    transition: all .2s ease;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
}

.mask-wall-panels.active {
    opacity: 1;
}

.mask-chairs.active {
    opacity: 1;
}

.mask-floor.active {
    opacity: 1;
}

.mask-lamps.active {
    opacity: 1;
}

/* Masks */