.swiper-button-next:after,
.swiper-button-prev:after {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 64px;
    height: 54px;
    padding: 20px;
    border-radius: 100%;
    font-size: 24px !important;
    background: var(--main-white);
}

.swiper-button-next:after {
    margin-right: 50px;
}

.swiper-button-prev:after {
    margin-left: 50px;
}

.swiper-btn {
    width: 64px;
    height: 64px;
}

/* Carousel */
.carousel {
    margin: 11px 0px;
}

.carousel__img {
    width: 100%;
    height: 662px;

    position: relative;
}

.carousel__title {
    position: absolute;
    bottom: 30px;
    left: 60px;

    font-weight: 600;
}

/* Carousel */


/* Sign In */
.signin {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    width: 860px;
    height: 560px;
    background: var(--main-white);
    border-radius: 24px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;
}

.signin.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signin__title {
    font-weight: 600;
    color: var(--main-black);
}

.signin__form_signup-link {
    color: var(--signin-blue);
    font-weight: 600;
}

.signin__form_signup {
    color: var(--main-gray);
    font-weight: 600;
}

.signin__form_input {
    width: 380px;
    border-radius: 12px;
    border: 1px solid var(--main-blue);
    padding: 16px 24px;
    color: var(--main-black);
}

.signin__form_btn {
    width: 380px;
    border-radius: 12px;
    background: var(--main-blue);
    padding: 16px 24px;
}

/* Sign In */