/* Swiper */
.swiper-button-next:after,
.swiper-button-prev:after {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 64px;
    height: 54px;
    padding: 20px;
    border-radius: 100%;
    font-size: 24px !important;
    background: var(--main-white);
}

.swiper-button-next:after {
    margin-right: 50px;
}

.swiper-button-prev:after {
    margin-left: 50px;
}

.swiper-btn {
    width: 64px;
    height: 64px;
}

/* Swiper */


/* Carousel */
.carousel {
    margin: 11px 0px;
}

.carousel__img {
    width: 100%;
    height: 662px;

    position: relative;
}

.carousel__title {
    position: absolute;
    bottom: 30px;
    left: 60px;

    font-weight: 600;
}

/* Carousel */


/* Drop Down List */
.drop-down-blackout {
    background: transparent !important;
    position: absolute !important;
}

.mynav-drop-down {
    display: none;

    position: absolute;
    top: 61px;
    right: 50px;
    z-index: 10;

    background: var(--main-white);
    padding: 10px 20px;
    border-radius: 12px;
    width: 146px;
}

.mynav-drop-down.open {
    display: block;
}

.drop-down__link {
    color: var(--main-black) !important;
}

/* Drop Down List */